---
---

<div id="header-info">
  <img class="header-item header-img" src="{{site.asset_base}}/img/system/mrwf-mobile-logo-negative.png" style="max-width: 85%; max-height:3%;">
  <img class="header-item header-img" src="{{site.asset_base}}/img/system/date-time-inverse.png" style="height:3%;">
  <div class="header-item" id="search-box"><input id="search-box-input" type="text" /><button id="search-box-button">Search</button></div>
</div>
<nav id="stickyHeader">
  <ul class="nav nav-tabs" id="mrwfNav" role="tablist">
    <li class="nav-item">
      <a class="nav-link{% if page.url == "/index.html" or page.url == "" %} active{% endif %}" id="home-tab"
        href="index.html">Home</a>
    </li>
    {% for collection in site.collections %}
      {% if collection.start_page %}
        <li class="nav-item">
          <a class="nav-link{% if page.collection == collection.label %} active{% endif %}"
            href="{{ collection.start_page }}">{{ collection.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% if page.collection %}
  <ul class="nav nav-tabs" id="mrwfFilters">
      {% for collection in site.collections %}
        {% if collection.label == page.collection %}
          {% for sub_page in collection.docs %}
            <li class="nav-item"><a href="{{sub_page.url}}" class="nav-link">{{ sub_page.title }}</a></li>
          {% endfor %}
        {% endif %}
      {% endfor %}
  </ul>
  {% endif %}
</nav>
