---
---

<div id="header-info">
  <img class="header-item header-img" src="{{site.asset_base}}/img/system/mrwf-mobile-logo-negative.png" style="max-width: 85%; max-height:3%;">
  <img class="header-item header-img" src="{{site.asset_base}}/img/system/date-time-inverse.png" style="height:3%;">
  <div class="header-item" id="search-box"><input id="search-box-input" type="text" /><button id="search-box-button">Search</button></div>
</div>
<nav id="stickyHeader">
  <ul class="nav nav-tabs" id="mrwfNav" role="tablist">
    <li class="nav-item">
      <a class="nav-link{% if page.url == "/index.html" or page.url == "" %} active{% endif %}" id="home-tab"
        href="index.html">Home</a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" id="agm-tab"
        data-toggle="tab" href="#agm"
        role="tab" aria-controls="agm" aria-selected="false">AGM</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="photo-gallery-tab"
        data-toggle="tab" href="#photo-gallery"
        role="tab" aria-controls="photo-gallery" aria-selected="false">Photo Gallery</a>
    </li>
    <li class="nav-item" style="display:none">
        <a class="nav-link"	id="map-tab"
        data-toggle="tab" href="#map"
        role="tab" aria-controls="map" aria-selected="false">Map</a>
    </li>
    <li class="nav-item" style="display:none">
      <a class="nav-link" id="events-tab"
        data-toggle="tab" href="#events"
        role="tab" aria-controls="events" aria-selected="false">What's On</a>
    </li>
    <li class="nav-item" style="display:none">
      <a class="nav-link" id="shops-tab"
        data-toggle="tab" href="#shops"
        role="tab" aria-controls="shops" aria-selected="false">Stalls</a>
    </li>
    <li class="nav-item" style="display:none">
      <a class="nav-link" id="performances-tab"
        data-toggle="tab" href="#performances"
        role="tab" aria-controls="music" aria-selected="false">Performances</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab"
        data-toggle="tab" href="#contact"
        role="tab" aria-controls="contact" aria-selected="false">Contact Us</a>
    </li>-->
    <li class="nav-item">
      <a class="nav-link{% if page.url == "/helping" %} active{% endif %}" id="helping-tab"
        href="helping">Help Us</a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" id="thanks-tab"
        data-toggle="tab" href="#thanks"
        role="tab" aria-controls="thanks" aria-selected="false">Thanks</a>
    </li>-->
    <!-- Hidden links for navigation from # -->
    <li class="nav-item" style="display:none">
      <a class="nav-link" id="search-tab"
        data-toggle="tab" href="#search"
        role="tab" aria-controls="search" aria-selected="false">Search</a>
    </li>
    <li class="nav-item" style="display:none">
      <a class="nav-link" id="twitter-tab"
        data-toggle="tab" href="#twitter"
        role="tab" aria-controls="twitter" aria-selected="false">Twitter</a>
    </li>
    <li class="nav-item" style="display:none">
      <a class="nav-link" id="volunteering-tab"
        data-toggle="tab" href="#volunteering"
        role="tab" aria-controls="volunteering" aria-selected="false">Volunteering</a>
    </li>
    <li class="nav-item" style="display:none">
      <a class="nav-link" id="donate-tab"
        data-toggle="tab" href="#donate"
        role="tab" aria-controls="donate" aria-selected="false">Donate</a>
    </li>
    <li class="nav-item" style="display:none">
      <a class="nav-link" id="committee-tab"
        data-toggle="tab" href="#committee"
        role="tab" aria-controls="committee" aria-selected="false">Committee</a>
    </li>

  </ul>
  <ul class="nav nav-tabs" id="mrwfFilters">
  </ul>
</nav>
